.tablero{
    display: flex;
    justify-content: space-around;
    .scorePlayer{
        height: 370px;
        display: flex;
        gap: 40px;
        padding: 25px;
        border-radius: 10px;
        background-color: antiquewhite;
        .container__options{
            display: grid;
            grid-template-columns: 100px;
            grid-auto-rows: 100px;
            align-content: space-between;
            .option{
                border: 2px solid rgb(209, 180, 180);
            }
        }
    }
}

.container__buttonStart{
    display: flex;
    justify-content: center;
}