body{
    background-color: rgb(48, 46, 46);
}

.gameCard{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    &__title{
        padding: 20px 0;
        text-align: center;
        text-transform: uppercase;
    }
    .container__image{
        img{
            width: 100%;
            height: auto;
            display: block;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}