body{
    background-color: rgb(255, 255, 255);
}

.gameCard{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    &__title{
        padding: 20px 0;
        text-align: center;
        text-transform: uppercase;
    }
    .container__image{
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}